// Flexbox

@mixin flexIt {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Backgrounds
@mixin fixedBackground {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

// Layout Troubleshooting
@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Media Queries
