.spa {
  &--container {
    width: 100%;
    //height: 95vh;
    padding: 30vh 0;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("https://images.pexels.com/photos/275851/pexels-photo-275851.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    @include fixedBackground();

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  div {
    color: #fff;
    margin: 0 75px;
    width: 50%;
  }
}
